<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>ML BOT RVTS</title>
<style>
body {
  background-color: lightyellow;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>



<!--     <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
<!--    <link href="./static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>-->
<!--<link href="./static/css2/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>-->



<!--     <link href="./static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>-->
<!--    <link href="./static/css2/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>-->
</head>



<body >

<h1 style="font-size:320%;margin-left:50px;color:SlateBlue;font-family:monospace;text-align:center"><b><I>Path Predictor</I></b></h1>
<form action ="http://127.0.0.1:5000/Predict" method="POST">
    <hr/>
    <p style="font-size:30px;color:green;font-family: monospace;text-align:center;margin-left: 30px"> Enter the room number
        </p>
    <input style="margin: 15px 10px 90px 655px;height: 20px;width: 200px" type="Text" name="Room_no"/>
    <p style="font-family:monospace;text-align:center;margin: -20px;"><input style="background-color: aquamarine;font-family: monospace;height: 30px;border-radius: 25px;margin-left: 15px" type="submit" value="Predict"/></p>
    <div>
         <img style="width: 600px; margin: 55px -10px 50px 480px;" src="https://d18l82el6cdm1i.cloudfront.net/uploads/mf7THWHAbL-mazegif.gif" alt="maze_image">

    </div>


</form>


</body>
</html>