<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ML BOT RVTS</title>

     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="./static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<link href="./static/css2/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>



     <link href="./static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="./static/css2/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body >


<h1 style="font-size:300%;color:green;font-family:Open Sans Condensed;text-align:center">ML Bot Path Detection</h1>
<form action ="http://127.0.0.1:5000/Predict" method="POST">
    <p style="font-size:20px;color:red;font-family:Open Sans Condensed;text-align:center"> Room number <input type="Text" name="Room_no"/></p>
    <p style="font-family:Open Sans Condensed;text-align:center;"><input type="submit" value="Predict"/></p>
</form>
</body>
</html>